@model List<Dao.Model.Album>

@*height 100px*@

@if (Model != null)
{
    @*<div class="footer-block">
        <span class="vertical-helper"></span>
        <img src="@Url.Content("~/Content/img/left.png")" width="30"/>
    </div>*@
    foreach (var album in Model)
    {
        var url = Url.Action("GetOneSlide", "Home");
        <div class="footer-block">
            <a class="getAlbumLink" data-url="@(string.Format("{0}?albumId={1}", url, album.Id))"><img class="album-cover-small" src="@Url.Content("~/Content/cover/" + album.CoverFileName)" /></a>
        </div>
    }
    @*<div class="footer-block">
        <span class="vertical-helper"></span>
        <img src="@Url.Content("~/Content/img/right.png")" width="30"/>
    </div>*@
}
