@font-face {
    font-family: superPuperFont; /* Гарнитура шрифта */
    src: url(../font/superPuperFont.ttf); /* Путь к файлу со шрифтом */
}

html,body {
    height: 100%;
    font-family: superPuperFont;
}

h1, h2 {
    margin-top: 50px;
}

hr {
    width: 99%;
}

body {
    /*background-color: gray;*/
}

body, div, h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.navigation-top {
    background-image: url(../img/dark_wall.png);
    float: left;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 50;
}

.navigation-top ul {
    padding: 0;
}

.navigation-top li{
    display: inline;
    margin: 0 10px;
}

.navigation-top a {
    font-family: 'sansation' !important;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.navigation-top a:hover {
    color: tomato;
    text-decoration: underline;
}

.navigation-top-logo {
    height: 40px;
    float: left;
    margin: 5px;
    margin-left: 25px;
}

.player{
    margin: 10px;
    color: white;
    float: left;
}

#mainMp3Player {
    height: 30px;
}


.playSong {
    /*width: 20px;
    height: 20px;*/
}

.downloadSong {
    /*width: 20px;
    height: 20px;*/
}

.downloadAlbum {
    width: 35px;
    height: 35px;
}

.renderBody {
    width: 100%; 
    height: 100%;
    /*background-color: rosybrown;*/
    float: left;
    position: fixed;
    z-index: 10;
}

.clear-left {
    clear: left;
}

.float-left {
    float: left;
}

.album-cover {
    height: 500px;
    width: 500px;
}

.album-cover-small {
    height: 80px;
    width: 80px;
}

.album-name {
    width: 100%;
    /*text-align: center;*/
    margin-top: 50px;
    /*margin-bottom: 130px;*/
    font-size: 46px;
}

.slide {
    height: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.slide-center {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    /*background-color: plum;*/
}

.album-content {
    min-height: calc(100vh - 180px);
}

.album-footer {
    /*background-color: khaki;*/
    height: 100px;
}

.admin-album-block {
    float: left;
    margin: 10px;
    /*background-color: antiquewhite;*/
    width: 300px;
}

.field-validation-error {
    color: red;
}

.admin-icon {
    width: 25px;
}

.front-album-block {
    float: left;
    margin: 0px 10px;
}

.admin-album-cover {
    width: 300px;
}

.front-album-desc {
    width: 450px;
}

.social {
    height: 30px;
}

.footer-block {
    height: 80px;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.footer-block img {
    vertical-align: middle;
}

.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.song-played {
    margin-left: 50px;
}