@using Dao.Model
@model Martin.ViewModel.SongViewModel

@{
    ViewBag.Title = "Song Add";
    Layout = "~/Views/AdminMaster.cshtml";
}

<h2>Song Add to Album @Model.Album.Name</h2>
@using (Html.BeginForm("AddSong", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Album.Id)
    <p>
        Название песни: @Html.TextBoxFor(x => x.Name)
    </p>

    <p>
        Слова @Html.TextBoxFor(x => x.Lyrics)
    </p>

    <p>
        Песня <input type="file" name="Song" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
}