@using Dao.Model
@model Martin.ViewModel.SongViewModel

@{
    ViewBag.Title = "Song Add";
    Layout = "~/Views/AdminMaster.cshtml";
}

<h2>Song Add</h2>
@using (Html.BeginForm("AddSong", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        Название песни: @Html.TextBoxFor(x => x.Name)
    </p>

    <p>
        Слова @Html.TextBoxFor(x => x.Lyrics)
    </p>

    <p>
        Альбом @Html.DropDownListFor(x => x.Album.Id, new SelectList(Model.AlbumsList, "Id", "Name"))
    </p>
    <p>
        Песня <input type="file" name="Song"/>
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
    </p>
}